.quiz-container {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    outline: none;
    height: 100vh;
}

.canvas {
    outline: none;
    overflow: hidden;
}

.in-progress {
    height: 100vh;
    display: none;
}

.complete {
    width: 100vw;
    height: 100vh;
    outline: none;
    position: absolute;
}
