.quiz-container {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    outline: none;
    min-height: 100vh;
    padding: 200px;
}

.tutorial {
    color: white;
    opacity: 0.6;
    position: absolute;
    bottom: 2vh;
    left: 2vw;
}

.canvas {
    outline: none;
}

.in-progress {
    height: 100vh;
    display: none;
}

.complete {
    width: 100vw;
    height: 100vh;
    outline: none;
    position: absolute;
    z-index: 1;
}
