@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Arvo&display=swap');

.quiz-header {
    font-family: 'Staatliches', serif;
    font-size: 100px;
    color: white;
    background-image: linear-gradient(to bottom, #2c3e50 0%, #ff7518 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin-top: -10vh;
    animation: flicker 0.5s ease-in infinite;
}

.quiz-button {
    font-family: 'Arvo', serif;
    width: 20vw;
    border: 3px solid #ff5e0044;
    color: #ff5e0044;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    text-transform: uppercase;
}

.quiz-button:hover {
    transition: ease-in 0.35s;
    color: #ff7518;
    border-color: #ff7518;
}

@keyframes flicker {
    0% {
        background-image: linear-gradient(to bottom, #2c3e50 0%, #ff7518 75%);
    }
    50% {
        background-image: linear-gradient(to bottom, #2c3e50 0%, #ff7518 70%);
    }

    75% {
        background-image: linear-gradient(to bottom, #2c3e50 0%, #ff7518 68%);
    }
    100% {
        background-image: linear-gradient(to bottom, #2c3e50 0%, #ff7518 70%);
    }
}
